* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('pexels-cottonbro-6863081.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.75s ease;
}

.progress_value {
  opacity: 0;
  transition: all 0.75s ease;
}
.blurred .progress_value {
  opacity: 1;
  font-size: 64px;
  text-align: center;
}
